/**
 * Main reset
 * ----------
 */
html, body {
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

html {
  font-size: 1em; }

body {
  font-size: 100%; }

a img, :link img, :visited img {
  border: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

/**
 * Centering utilties
 * ------------------
 */
.center {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto; }

.middle {
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto; }

.center-middle {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto; }

.center-trans {
  left: 50%;
  transform: translateX(-50%); }

.middle-trans {
  top: 50%;
  transform: translateY(-50%); }

.center-middle-trans {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

/**
 * Generic utilties
 * ----------------
 */
.alpha-0 {
  opacity: 0; }

.invisible {
  visibility: hidden; }

.hide {
  display: none; }

.offstage {
  left: -9999px;
  top: -9999px; }

.anti-alias {
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.gpu {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform: translateZ(0); }

.line-fix {
  outline: 1px solid transparent; }

@supports (-moz-appearance: meterbar) {
  .gpu {
    transform: translateZ(0) rotate(0.02deg); } }

.transform-reset {
  transform: none !important; }

/**
 * Main base
 * ---------
 * Generic ad layout file
 */
body {
  background: #707070; }

#ad_content {
  background: #c1cedd;
  font-family: Helvetica, Arial, sans-serif;
  overflow: hidden; }
  #ad_content div, #ad_content svg {
    position: absolute; }

.backup {
  background: url("backup.jpg") -1px -1px no-repeat;
  background-size: 320px 480px; }

#ad_content, .backup {
  border: 1px solid black;
  cursor: pointer;
  position: absolute;
  width: 320px;
  height: 480px; }

/* ---------------------------------------- */
#pegasus_1 {
  top: 178px;
  left: 20px; }

#pegasus_2 {
  top: 164px;
  left: 22px; }

#pegasus_3 {
  top: 150px;
  left: 46px; }

#txt_1 {
  top: 25px;
  left: 20px; }

#txt_2 {
  top: 23px;
  left: 212px; }

#logo {
  top: 24px;
  left: 163px; }

#cta_container {
  top: 420px;
  left: 88px; }

#cta_bg {
  background: black;
  width: 144px;
  height: 37px; }

#cta_txt {
  top: 12px;
  left: 18px; }

.sprite-png { background-image: url('sprite.png') }
.sprite-png.pegasus_1 {
  width: 273px;
  height: 103px;
  background-position: -231px 0px;
  background-size: 507px 180px; }
.sprite-png.pegasus_2 {
  width: 275px;
  height: 124px;
  background-position: -462px -216px; }
.sprite-png.pegasus_3 {
  width: 226px;
  height: 177px;
  background-position: 0px 0px;
  background-size: 507px 180px; }
.sprite-svg { background: url('sprite.svg') no-repeat; }
.sprite-svg.cta_txt {
  background-position: 0 39.14503816793893%;
  width: 110.5px;
  height: 13.25px; }
.sprite-svg.logo {
  background-position: 92.06536931512741% 78.5951160687368%;
  width: 32.99px;
  height: 12.83px; }
.sprite-svg.txt_1 {
  background-position: 0 0;
  width: 125.89px;
  height: 12.82px; }
.sprite-svg.txt_2 {
  background-position: 0 98.37735849056604%;
  width: 85.63px;
  height: 19.5px; }
